<div class="form-group row">
      <div class="col-sm-3">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <th>Category</th>
            <th>Spent</th>
          </thead>
          <tbody>
            <% @expenses.where(date: @start_date..@end_date).group(:category).each do |expense| %>
            <%= render 'expenserep', expense: expense %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th>$<%= Expense.where(date: @start_date..@end_date).sum(:amount) %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    
    <div>
      <%= render 'expensepiechart' %>
    </div>
</div>

<%= render 'expenselinechart' %>