<tr>
  <td class="align-middle">
    <%= expense.category %>
  </td>
  <td class="align-middle">$<%= Expense.where(date: @start_date..@end_date, category: expense.category).sum(:amount) %></td>
</tr>
