<div class="form-group row">
      <div class="col-sm-3">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <th>Category</th>
            <th>Gained</th>
          </thead>
          <tbody>
            <% @incomes.group('incomes.id').where(date: @start_date..@end_date).group(:category).each do |income| %>
            <%= render 'incomerep', income: income %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th>$<%= Income.where(date: @start_date..@end_date).sum(:amount) %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    
    <div>
      <%= render 'incomepiechart' %>
    </div>
</div>

<%= render 'incomelinechart' %>