<div class="flexContainer">
<div class="left">
    <table class="table table-striped">
      <thead>
        <th>Category</th>
        <th>Spent</th>
      </thead>
      <tbody>
        <% @expenses.where(date: (('2021-01-16')..('2021-01-21'))).group(:category).each do |expense| %>
        <%= render 'rep', expense: expense %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th>$<%= Expense.where(date: (('2021-01-16')..('2021-01-21'))).sum(:amount) %></th>
        </tr>
      </tfoot>
    </table>
</div>
<div class="right">
</div>
</div>

<%= render 'chart' %>