<div class="container">

<br>

<%= render 'form' %>

<br>

<%= render 'reportstitle' %>


</div>

<div class="container-fluid">
    <% if @start_date.nil? || @end_date.nil? || params[:types].nil? %>
        <% elsif (@start_date <= @end_date) && (@start_date != '' || @end_date != '') && (params[:types] == 'Expenses') %>
            <%= render 'expenseitems' %>
        <% elsif (@start_date <= @end_date) && (@start_date != '' || @end_date != '') && (params[:types] == 'Incomes') %>
            <%= render 'incomeitems' %>
        <% else %>
    <% end %>
</div>